.sticky {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #f7f7e8;
}

header {
  width: 100vw;
  border-bottom: 1px solid black;
  padding: 0.5rem 0;

  .container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    h1{
      color: #312c51;
      font-weight: 400;
    }

    nav {
      a {
        color: #11698e;
        padding: 0.5rem 1rem;
        font-weight: 700;
        text-decoration: none;
        font-size: 1rem;
        border-radius: 5px;
        &:hover{
          background-color: #c7cfb7;
        }
      }
    }
  }
}
